.App {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.container{
  width: 100%;
 min-height: 1024px;
  padding-bottom: 77px;
  background: #FAFAFA;
  
  
}

.container img{
  height: 297px;
width: 1388px;

border-radius: 0px;

}

.heading img{
  Width:32.19px;
Height:32.19px;
cursor: pointer;
}

.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
width: 615px;
border-bottom: 1px solid #DBDBDB;


}
.accordion-data{
  background: #FFFFFF;
box-shadow: 0px 3px 10px rgba(189, 189, 189, 0.25);
min-height: 70px;
width: 615px;
padding: 0 21px;
margin-top: 15px;
/* padding-bottom: 15px; */




}
.accordion-data p{
  text-align: left;
  padding-bottom: 50px;
}
.container-fluid{
  padding: 0 412px;
  
  margin-top: 61px;
}

.container h3{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;

}